@import "tailwindcss";
@import "./styles/navbar.css";
@import "./styles/sidebar.css";
@import "./styles/timeline.css";
@import "./styles/experience-content.css";
@import "./styles/experience-detail.css";
@import "./styles/footer.css";

@theme {
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --color-agile-sky: #0ea5e9;
  --color-agile-navy: #0f172a;
  --color-agile-glow: rgba(14, 165, 233, 0.15);
}

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  @apply bg-agile-navy text-white overflow-hidden h-screen;
}