@import "tailwindcss";
@import "./styles/navbar.css";
@import "./styles/timeline.css";
@import "./styles/experience-content.css";

@theme {
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --color-agile-sky: #0ea5e9;
  --color-agile-navy: #0f172a;
  --color-agile-glow: rgba(14, 165, 233, 0.15);
}

body {
  @apply bg-agile-navy text-white overflow-hidden h-screen;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-white/10 rounded-full hover:bg-agile-sky/40 transition-colors;
}