@import "tailwindcss";
@import "./styles/navbar.css";
@import "./styles/timeline.css";
@import "./styles/experience-content.css";

@theme {
  --font-sans: "Plus Jakarta Sans", sans-serif;
}

body {
  @apply bg-slate-900 text-white font-sans antialiased;
}